<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="Content-Type"
		content="text/html; charset=utf-8">
		<title>Questions</title>
	</head>
	<body>
	<nav><ul class="pagination">
	{% for p in paginator.page_range %}
	 {% if p == page.number %}
	 <li class="active">
	 {% else %}
	 <li>
	 {% endif %}
	  <a href="{{ paginator.baseurl }}{{ p }}">{{p}}</a>
	</li>
	{% endfor %}
	</ul></nav>
       <h1>Questions</h1>
       {% for q in questions %}
		<p><a href="question/{{q.id}}">{{q.title}}</a></p>
	{% endfor %}
	</body>
</html>

